createcase{
    position: center;
}
.createcase-container {
    width: 500px;
    max-width: 600px;
    margin: 0 auto;
    padding: 1.5 rem;
    background-color: #003064;
    border-radius: 1 rem;
    text-align: center;
}
.createcase-title{
    font-size: 2rem;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 1rem;
}

.createcase-label {
    display: block;
    color: #ffffff;
    margin-bottom: 0.5 rem;
}


createcase-select{
    width:100px;
    padding: 0.5rem;
    border: 1px solid #ffffff;
    border-radius: 0.4 rem;
    margin-bottom: 0.5 rem;
}
createcase-text{
    width: 200px;
    padding: 0.5rem;
    border: 1px solid #ffffff;
    border-radius: 0.4rem;
    resize: vertical;
}

.createcase-btn {
    width: 100px;
    background-color: #003064;
    color: white;
    padding: 0.5 rem;
    border-radius: 0.4 rem;
    transition: all 0.3s;
    cursor: pointer;
    margin-top: 1rem;
}
    .createcase-btn:hover {
        color: #003064;
        background-color: #ffffff;
    }
