.login-body {
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Container to hold the two sections (left and right) */
.login-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Left side: Background image only */
.login-left-side {
    flex: 1;
    background-image: url('../Images/LoginPageLeft.jpg'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Right side: Form */
.login-right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh; /* Ensure the right side fills the entire screen */
}

/* Login form styling */
.login-box {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Logo styling */
.login-logo img {
    width: 50px; /* Adjust size */
    height: auto; /* Adjust size */
    margin-bottom: 20px;
}

/* Header: My Account - Login */
.login-header {
    font-size: 24px;
    color: #003064;
    background-color: #f4f7f9;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
}

/* Form styling */
.login-input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Button styling */
.login-submit-btn {
    width: 100%;
    background-color: #003064;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.login-submit-btn:hover {
    background-color: #011934;
}

/* Links (Forgot password, Create Account) */
.login-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.login-links a {
color: #003064;
text-decoration: none;
font-size: 14px;
}

.login-links a:hover {
text-decoration: underline;
}
